{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kg-online</title>
    <meta name="description" content="Kg-online - это социальная сеть кыргызстана" />
    <meta name="keywords" content="Kg-online, Kg - online, Kgonline, Kg online, кыргызстан онлайн, соцсеть кыргызстана" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
</head>
<body>
<div class="main">

    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/KgBlog/">Kg - online</a></h1>
                <h2>Кыргызстан онлайн</h2>
            </div>
        </div>
        <div class="menubar">

            <ul class="menu">
                <li  class="selected"><a href="/KgBlog/user/">Новости</a></li>
                <li ><a  href="/KgBlog/">Главная</a></li>
                <li ><a  href="/KgBlog/posts/">Посты</a></li>
                <li ><a  href="admin/">Администратор</a></li>
            </ul>

        </div>
    </div>

</div>


<div class="site_content"  style="background-size: cover; background-repeat: no-repeat">
    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">03.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Была начата работа над проектом</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">05.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Разработана первая страница проекта</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">06.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Была начата работа над базой данных</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">07.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">База данных стала активной</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">10.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Разработан внешний вид проекта</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">14.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Блок просмотра постов стал активен</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">18.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Внедрен блок новостей</p>
    </div>

    <div class="news_content" style="background-color: darkseagreen;
    width: 350px;
    height: auto;
    margin: 15px 0 0 326px;
    border-radius: 15px;">
        <h3 style="color: darkgreen;
    font-size: 80%; margin: 0 0 0 8px; padding: 3px 0 0 0">18.01.2020</h3>
        <p style="color: antiquewhite;
    font: normal 105% 'century gothic', Arial;">Публикация постов доступна</p>
    </div>
</div>
